/* .container{
    color: black;
    background-color: white;
    position: absolute;
    width: 90%;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -10%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.container2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    width: 90%;
    margin: 15px auto;
    justify-items: center;
}
.price{
    font-size: 20px;
    justify-items:start !important;
    margin: 10px 10px;
}

.cantidad{
    width: 42px;
    margin: 10px 20px;
    border: 1px solid yellowgreen;
    height: 24px;
    border-radius: 6px;
    text-align: center;
}
.contInfTitle{
    align-self: flex-start;
}
.contInf{
    align-self: flex-end;
}
.contInf p{
    padding: 5px;
    text-align: start;
}
.btn{
    color: rgb(243, 250, 244);
    background-color: Yellowgreen;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    
    width: 150px;
    height: 36px;
    margin: 10px 0px;
}
.btn:hover{
    color: yellowgreen;
    background-color:#582f1d;
}
.divTable{
    max-height: 120px;
    overflow : auto;
}
.table{
    width: 90%;
    font-size: small
}
.table tr{
    height: 15px ;
} */

.container {

  display: flex;
  /* // height: 100vw; */
  width: 100vw;

}

.product {
  border: 20px solid red;
 
}
