.products {
    margin: 3px;
    width: 13rem;
    height: 25rem;
    margin-bottom: 2rem;
   /*  border: 2px solid greenyellow */;
    border-radius: 1rem;
}
.image_product {
    width: 100%;
    border-radius: 0.8rem;
}
.name {
    margin-top: -0.5rem;
}
.description {
    margin-top: -1.2rem;
    height: 2rem;
}
.price {
    margin-top: -0.5rem;
}
.button_cart {
    background-color: greenyellow;
    color: black;
}