.card {
  border: 2px solid red;
  margin: 3px;
  width: 13rem;
  height: 100vw;
  margin-bottom: 2rem;
  border-radius: 1rem;
}
.p {
  border: 2px solid green;
  width: 200px;
  height: 350px;
  margin-bottom: 30px;
}
.button {
  border: 2px solid blue;
}
.img {
  width: 100%;
  border-radius: 0.8rem;
}
.buton {
  border: 1px solid greenyellow;
}
