.container_settings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #582f1d;
    font-weight: bolder;
}
.container_settings .navBar{
    display: flex;
}

.home ,
.categories ,
.about_us ,
.contact_us ,
.settings  {
    position: relative;
    background-color: #582f1d;
    color: #edab5f;
    font-weight: bolder;
    margin-top: 5px;
    margin-bottom: 5px;  
}

.home, .categories, .about_us, .contact_us {
    margin-left: 15px;
}

.settings {
    margin-right: 10px;
}
.container_settings .home:hover ,
.container_settings .categories:hover ,
.container_settings .about_us:hover ,
.container_settings .contact_us:hover ,
.container_settings .settings:hover {
    background-color: #edab5f;
    color: #582f1d;
    cursor: pointer;
    border: none;
}

/* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #582f1d;
    padding: 5px;
    color: #edab5f;
}
  
.navbar_left, .navbar_right {
    list-style: none;
    display: flex;
    font-weight: bolder;
}

.navbar_left{
    margin-left: 15px;
}

.navbar_right{
    margin-right: 15px;
}
  
li {
    margin-right: 20px;
}
  
a {
    text-decoration: none;
    color: #edab5f;
    padding: 10px;
    border-radius: 5px;

}

a:hover{
    text-decoration: none;
    color: #582f1d;
    background-color: #edab5f;
    margin: 10px 0;
    border: 1px solid black;
}

.dropdown_menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    display: none;
    background-color: #edab5f;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
  
.dropdown:hover .dropdown_menu {
    display: block;
} */